body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.connect {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.connect div > p span {
  color: red;
}

p {
  position: relative;
  top: 30px;
}

p a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px gray;
  transition: 0.4s;
  font-size: 25px;
}

.reg {
  color: white;
  background-color: gray;
}

.log {
  color: white;
  background-color: gray;
  border: 1px solid gray;
}

button:hover {
  width:;
  box-shadow: 0 0 20px gray;
  background-color: rgba(165, 165, 165, 1);
}

