<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<form action="/action_page.php">
    <label>Name</label>
    <input type="text" id="name" name="name">
    <label>Surname</label>
    <input type="text" id="surname" name="surname">
    <label>Password</label>
    <input type="password" id="pwd" name="pwd">
    <label>Re-Password</label>
    <input type="password" id="repwd" name="repwd">
    <input type="submit" value="Cancel">
    <input type="submit" value="OK">
</form>
</body>
</html>